.env
__pycache/
cosmo_env/
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Cache files
*.log
*.cache

# Environment variables
.env

# IDE and editor configurations
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/
